.fontCard {
  padding: 20px;
  margin: 20px;
  gap: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
}

.photoContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.photoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  padding: 15px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000000;
}

.subtitle {
  font-size: 16px;
  color: #000000;
}
