/* Blog.module.css */

.page__about {
  flex: 1;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.about__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.about__text {
  margin-top: 20px;
}

.about__list {
  list-style: none;
  padding: 0;
}

.about__list li {
  margin-bottom: 20px;
}

.about__list li strong {
  margin-right: 5px;
}

.material-icons {
  vertical-align: middle;
  margin-right: 5px;
}
